<div class="jumbotron" style="background-color: #DAA520; ">
  <h1 style="text-align: center;text-decoration: underline;margin: 10px">Welcome to DTCTech</h1>
  <h2 style="text-align: center;margin: 10px;">One-semester course in Java Programming</h2>
  <hr/ style="margin: 10px;">
  
    <div class="row" style="background-color: #DAA520; ">
      <div class="col-sm" >
         <h3 >Content Manager:</h3> 
           <p>Mike Dalton, PH.D., Electrical Engineering</hp>
         <h3 >Senior Web Developer:</h3> 
           <p>Somwang Shepherd</p>
      </div>
      <!-- Start Collapsible -->
      <div class="col-sm" >
        
        <div class="container">
          <div id="accordion">
            
            {{!--menu #1--}}
            <div class="card">
              {{!--<div class="card-header">--}}
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Introduction
                </a>
              {{!--</div>--}}
              {{!--class="collapse show" is showign detail, if wantto hide remove show--}}
              <div id="collapseOne" class="collapse" data-parent="#accordion">
                {{!--<div class="card-body">--}}
                  <strong><em><a class="nav-link" href="/chapter/1_1">Section 1</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/1_2">Section 2</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/1_3">Section 3</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/1_4">Section 4</a></li></em></strong>
                {{!--</div>--}}
              </div>
            </div>
            {{!--menu #2--}}
            <div class="card">
              {{!--<div class="card-header">--}}
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                Variables
              </a>
              {{!--</div>--}}
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                {{!--<div class="card-body">--}}
                  <strong><em><a class="nav-link" href="/chapter/2_1">Section 1</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/2_2">Section 2</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/2_3">Section 3</a></li></em></strong>
                {{!--</div>--}}
              </div>
            </div>
            {{!--menu #3--}}
            <div class="card">
              {{!--<div class="card-header">--}}
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                  Conditional Statements
                </a>
              {{!--</div>--}}
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                {{!--<div class="card-body">--}}
                  <strong><em><a class="nav-link" href="/chapter/3_1">Section 1</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/3_2">Section 2</a></li></em></strong>
                {{!--</div>--}}
              </div>
            </div>
            {{!--menu #4--}}
            <div class="card">
              {{!--<div class="card-header">--}}
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                  Best Programming Practices
                </a>
              {{!--</div>--}}
              <div id="collapseFour" class="collapse" data-parent="#accordion">
                {{!--<div class="card-body">--}}
                  <strong><em><a class="nav-link" href="/chapter/4_1">Section 1</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/4_2">Section 2</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/4_3">Section 3</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/4_4">Section 4</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/4_5">Section 5</a></li></em></strong>
                {{!--</div>--}}
              </div>
            </div>            
            {{!--menu #5--}}
            <div class="card">
              {{!--<div class="card-header">--}}
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                  While Loops
                </a>
              {{!--</div>--}}
              <div id="collapseFive" class="collapse" data-parent="#accordion">
                {{!--<div class="card-body">--}}
                  <strong><em><a class="nav-link" href="/chapter/5_1">Section 1</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/5_2">Section 2</a></li></em></strong>
                {{!--</div>--}}
              </div>
            </div>                 
            {{!--menu #6--}}
            <div class="card">
              {{!--<div class="card-header">--}}
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseSix">
                  For Loops
                </a>
              {{!--</div>--}}
              <div id="collapseSix" class="collapse" data-parent="#accordion">
                {{!--<div class="card-body">--}}
                  <strong><em><a class="nav-link" href="/chapter/6_1">Section 1</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/6_2">Section 2</a></li></em></strong>
                {{!--</div>--}}
              </div>
            </div> 
            {{!--menu #7--}}
            <div class="card">
              {{!--<div class="card-header">--}}
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseSeven">
                  Arrays
                </a>
              {{!--</div>--}}
              <div id="collapseSeven" class="collapse" data-parent="#accordion">
                {{!--<div class="card-body">--}}
                  <strong><em><a class="nav-link" href="/chapter/7_1">Section 1</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/7_2">Section 2</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/7_3">Section 3</a></li></em></strong>
                {{!--</div>--}}
              </div>
            </div> 
            {{!--menu #8--}}
            <div class="card">
              {{!--<div class="card-header">--}}
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseEigth">
                  Methods
                </a>
              {{!--</div>--}}
              <div id="collapseEigth" class="collapse" data-parent="#accordion">
                {{!--<div class="card-body">--}}
                  <strong><em><a class="nav-link" href="/chapter/8_1">Section 1</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/8_2">Section 2</a></li></em></strong>
                {{!--</div>--}}
              </div>
            </div> 
            {{!--menu #9--}}
            <div class="card">
              {{!--<div class="card-header">--}}
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseNine">
                  Strings
                </a>
              {{!--</div>--}}
              <div id="collapseNine" class="collapse" data-parent="#accordion">
                {{!--<div class="card-body">--}}
                  <strong><em><a class="nav-link" href="/chapter/9_1">Section 1</a></li></em></strong>
                  <strong><em><a class="nav-link" href="/chapter/9_2">Section 2</a></li></em></strong>
                {{!--</div>--}}
              </div>
            </div>      
            
          </div><!-- end Collapsible accordion -->
        </div><!-- end Collapsible container -->
      
      </div> <!-- end Collapsible col -->
    </div><!-- end row -->
</div><!-- end Jumbotorn -->

